button.push {
  @include font-stack();
  @include border-radius(2px);
  @include bold();
  color: white;
  display: block;
  position: relative;
  background: none;
  font-size: 1.1em;
  padding: .7em 1em;
  border: none;
  background: grey;
  position: relative;
  text-transform: uppercase;

  transition-duration: .2s;

  &:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: -4px;
    height: 4px;
    left: 0;
    right: 0;
    background: lighten(grey, 10);
    transition-duration: .2s;
  }

  &:active, &:focus {
    transform: translate(0, 4px);
    &:after {
      bottom: 0;
      height: 0;
    }
  }

  &:focus {
    outline: none;
  }

  &.small {
    font-size: .75em;
  }

  &.fluid {
    width: 100%;
  }

  &.disabled {
    opacity: .3;
    cursor: auto;
    
    &:active,&:focus {
      transform: none;

      &:after {
        bottom: -4px;
        height: 4px;
      }
    }

  }

  &.primary {
    background: $brand-primary;

    &:after {
      background: lighten($brand-primary, 10);
    }
  }

  &.secondary {
    background: $brand-secondary;

    &:after {
      background: lighten($brand-secondary, 10);
    }
  }

  &.success {
    background: $brand-success;

    &:after {
      background: lighten($brand-success, 10);
    }
  }

  &.danger {
    background: $brand-danger;

    &:after {
      background: lighten($brand-danger, 10);
    }
  }

  &.github {
    color: darken($github-gray, 50);
    background: $github-gray;

    &:after {
      background: lighten($github-gray, 3);
    }
  }

  &.facebook {
    background: $facebook-blue;

    &:after {
      background: lighten($facebook-blue, 10);
    }
  }


}